.completed {
    text-decoration: line-through;
}

.icon {
    width: 30px;
    background-color: red;
    &:hover {
        background-color: orangered;
    }
}

.high {
    border: 3px solid red;
}

.medium {
    border: 2px solid yellow;
}

.low {
    border: 1px solid green;
}

body {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 3px;
    padding: 0;
    margin: 0;
}

#sidebar {
    display: grid;
    background-color: rgb(249, 242, 242);
    grid-auto-rows: 50px;
    height: 100vh;

    & button {
        border-radius: 2em;
    }
}

.project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    border-radius: 1em;
    text-overflow: ellipsis;
    &:hover {
        background-color: rgb(199, 186, 186);
    }
}

.current-project {
    color: red;
    background-color: rgb(234, 211, 169);
}

.todo {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

.todo {
    & input[type="checkbox"] {
        appearance: none;
        position: relative;
        width: 2em;
        height: 2em;
        border: 1px solid gray;
        border-radius: 50%;

        color: orange;
    }
    & input[type="checkbox"]::before {
        content: "⬤";
        font-size: 2em;
        position: absolute;
        font-size: 1.2em;
        left: 2.5px;
        top: 2px;
        visibility: hidden;
    }

    & input[type="checkbox"]:checked::before {
        visibility: visible;
    }

    & input[type="checkbox"]:disabled {
        border-color: black;
        background: #dddddd;
        color: gray;
    }
}

.todo-completed {
    color: rgb(208, 200, 200);
}

#content {
    padding-left: 3em;
    padding-right: 3em;
    & button {
        border: none;
        background-color: inherit;
        font-size: 1.2rem;
        color: gray;

        &:hover {
            color: red;
            background-color: rgb(199, 186, 186);
        }
    }
}
